.header{
    overflow: hidden;
    background-color: #4ab3aa;
}

.header p{
    float: left;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    line-height: 15px;
    border-radius: 7px;
}

.inputField {
    width: 40% !important;
    padding: 1px;
    margin-top: 5px;
    margin-right: 6px;
    border: none;
    font-size: 17px;
  }

.header p.logo{
    font-size: 20px;
    font-weight: bolder;
    background-color: #3096a3;
    color: white
}

.header p:hover{
    background-color: #3096a3;
    color: blanchedalmond;
}

.header p.active{
    background-color: #3096a3;
    color: azure;
}

.header-right{
    float: right;
}

@media screen and (max-width : 500px) {
    .header p{
        float: none;
        display: block;
        text-align: left;
    }
    
    .header-right{
        float: none;
    }
}